menu "XPLR HPG Options"

    menu "Dead Reckoning"
        choice XPLR_GNSS_DEADRECKONING_ENABLE
            prompt "Dead reckoning state"
            config XPLR_DR_OPT_DISABLE
                bool "Disable"
            config XPLR_DR_OPT_ENABLE
                bool "Enable"
        endchoice
        
        config XPLR_GNSS_DEADRECKONING_ENABLE
            int
            default 0 if XPLR_DR_OPT_DISABLE
            default 1 if XPLR_DR_OPT_ENABLE
    endmenu

    menu "Correction Data Source"
        choice XPLR_CORRECTION_DATA_SOURCE
            prompt "Choose correction data source for your GNSS module"
            default CORRECTION_VIA_IP
            config CORRECTION_VIA_IP
                bool "Correction via IP"
            config CORRECTION_VIA_LBAND
                bool "Correction via LBAND"
        endchoice

        config XPLR_CORRECTION_DATA_SOURCE
            int 
            default 0 if CORRECTION_VIA_IP
            default 1 if CORRECTION_VIA_LBAND
    endmenu

    menu "AWS Root CA Settings"
        config XPLR_AWS_ROOTCA_URL
            string "AWS Root CA Url"
            default "https://www.amazontrust.com/repository/AmazonRootCA1.pem"
            help
                Amazon Url in order to fetch the Root CA certificate. If not using a different Root CA certificate leave to default value.
    endmenu
            
    menu "Thingstream Zero Touch Provisioning Settings"
        config XPLR_TS_PP_ZTP_TOKEN
            string "ZTP Thingstream token"
            default "ztp-token"
            help
                Type in the ZTP token from your Thingstream account.
    endmenu

    menu "Wi-Fi Settings"
        config XPLR_WIFI_SSID
            string "Access Point SSID"
            default "ssid"
            help
                Fill in the AP SSID you wish to connect to.

        config XPLR_WIFI_PASSWORD
            string "Access Point Password"
            default "password"
            help
                Fill in the AP SSID you wish to connect to.
    endmenu

endmenu