#Ignore build subdirs
**/build*

#Ignore VS Code workspaces
**/*.code-workspace

#Ignore VS Code project settigns
**/.vscode

#Ignore SDKConfig, to be build using menuconfig
**/*sdkconfig
**/*sdkconfig.old

#Ignore UBXLib stuff
/XPLR-HPG-SW/components/ubxlib/port/platform/esp-idf/mcu/esp32/runner/build
/XPLR-HPG-SW/components/ubxlib/port/platform/zephyr/runner/build_*
/XPLR-HPG-SW/components/ubxlib/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/build
/XPLR-HPG-SW/components/ubxlib/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/_build
/XPLR-HPG-SW/components/ubxlib/port/platform/nrf5sdk/mcu/nrf52/gcc/runner/build_*
/XPLR-HPG-SW/components/ubxlib/port/platform/nrf5sdk/mcu/nrf52/ses/runner/Output
/XPLR-HPG-SW/components/ubxlib/port/platform/nrf5sdk/mcu/nrf52/ses/runner/*.jlink
/XPLR-HPG-SW/components/ubxlib/port/platform/stm32cube/mcu/stm32f4/runner/Debug
/XPLR-HPG-SW/components/ubxlib/port/platform/stm32cube/mcu/stm32f4/runner/Release
/XPLR-HPG-SW/components/ubxlib/port/platform/stm32cube/mcu/stm32f4/runner/.settings
/XPLR-HPG-SW/components/ubxlib/port/platform/stm32cube/mcu/stm32f4/runner/*.launch
/XPLR-HPG-SW/components/ubxlib/port/platform/stm32cube/mcu/stm32f4/test_only_*
/XPLR-HPG-SW/components/ubxlib/port/platform/static_size/build
sdkconfig
*.emSession
*.pyc
doxygen_output
_jenkins_work
_work
*.state.json
u_flags.yml
config.yml
_build
/XPLR-HPG-SW/components/ubxlib/port/platform/arduino/ubxlib
XPLR-HPG-SW/dependencies.lock
