###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
###############################################################################
# Set default behavior for NORA-W10 files
*.cfg text eol=lf
*.sh eol=lf
###############################################################################
