menu "Board Options"

    choice BOARD_TARGET
        prompt "Choose Target Board"
            default BOARD_XPLR_HPG2_C214

        config BOARD_XPLR_HPG2_C214
            bool "XPLR HPG2 C214 (NINA-W106)"

        config BOARD_XPLR_HPG1_C213
            bool "XPLR HPG1 C213 (NORA-W106)"

        config BOARD_MAZGCH_HPG_SOLUTION
            bool "MAZGCH HPG SOLUTION (NINA-W106)"

    endchoice

    choice GNSS_MODULE
        prompt "Choose GNSS Module"
            default GNSS_MODULE_ZED_F9R
            config GNSS_MODULE_ZED_F9R
                bool "ZED-F9R"
            config GNSS_MODULE_ZED_F9P
                bool "ZED-F9P"
            config GNSS_MODULE_NONE
                bool "NONE"

    endchoice

    config GNSS_MODULE
        int
        default 0 if GNSS_MODULE_ZED_F9R
        default 1 if GNSS_MODULE_ZED_F9P
        default -1 if GNSS_MODULE_NONE

endmenu