menu "XPLR HPG Options"

    menu "AWS Root CA Settings"
        config XPLR_AWS_ROOTCA_URL
            string "AWS Root CA Url"
            default "https://www.amazontrust.com/repository/AmazonRootCA1.pem"
            help
                Amazon Url in order to fetch the Root CA certificate. If not using a different Root CA certificate leave to default value.
    endmenu
    
    menu "Thingstream Zero Touch Provisioning Settings"
        config XPLR_TS_PP_ZTP_CREDENTIALS_URL
            string "ZTP Thingstream credentials URL"
            default "https://api.thingstream.io/ztp/pointperfect/credentials"
            help
                Sets the URL for the WEB API to fetch Poin Perfect ZTP payload.<br>
                Default value is recommended unless there's a change in the official docs.

        config XPLR_TS_PP_ZTP_TOKEN
            string "ZTP Thingstream token"
            default "ztp-token"
            help
                Type in the ZTP token from your Thingstream account.
    endmenu

    menu "Wi-Fi Settings"
        config XPLR_WIFI_SSID
            string "Access Point SSID"
            default "ssid"
            help
                Fill in the AP SSID you wish to connect to.

        config XPLR_WIFI_PASSWORD
            string "Access Point Password"
            default "password"
            help
                Fill in the AP SSID you wish to connect to.
    endmenu

endmenu