menu "XPLR HPG Options"
    
    menu "MQTT Settings"
        config XPLR_MQTTWIFI_THINGSTREAM_HOSTNAME
            string "Broker hostname"
            default "mqtts://pp.services.u-blox.com"
            help
                Sets the url for the MQTT Broker Address.<br>
                Default value is recommended unless there's a change in the official docs.<br>
                Can be overwritten when using Zero Touch Provisionning (ZTP).

        config XPLR_MQTTWIFI_CLIENT_ID
            string "Client ID"
            default "Client-ID"
            help
                Sets the MQTT Client ID according to Thingstream Client ID value.<br>
                Can be overwritten when using Zero Touch Provisionning (ZTP).
    endmenu

    menu "Wi-Fi Settings"
        config XPLR_WIFI_SSID
            string "Access Point SSID"
            default "ssid"
            help
                Fill in the AP SSID you wish to connect to.

        config XPLR_WIFI_PASSWORD
            string "Access Point Password"
            default "password"
            help
                Fill in the AP SSID you wish to connect to.
    endmenu

endmenu